<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span jhiTranslate="cinemaCidenetApp.booking.home.title">Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.booking.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.booking.home.createLabel"> Create a new Booking </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookings?.length === 0">
    <span jhiTranslate="cinemaCidenetApp.booking.home.notFound">No bookings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bookings && bookings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="chairLocation">
            <span jhiTranslate="cinemaCidenetApp.booking.chairLocation">Chair Location</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="cinemaCidenetApp.booking.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user">
            <span jhiTranslate="cinemaCidenetApp.booking.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="functionFilm.id">
            <span jhiTranslate="cinemaCidenetApp.booking.functionFilm">Function Film</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a>
          </td>
          <td>{{ booking.chairLocation }}</td>
          <td>{{ booking.status }}</td>
          <td>{{ booking.user }}</td>
          <td>
            <div *ngIf="booking.functionFilm">
              <a [routerLink]="['/function-film', booking.functionFilm?.id, 'view']">{{ booking.functionFilm?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" (click)="delete(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
              <br />
              <button type="submit" (click)="deleteAll(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Cancelar Reserva</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bookings && bookings.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
