<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span jhiTranslate="cinemaCidenetApp.booking.home.title">Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.booking.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.booking.home.createLabel"> Create a new Booking </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookings?.length === 0">
    <span jhiTranslate="cinemaCidenetApp.booking.home.notFound">No bookings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bookings && bookings.length > 0">
    <tbody class="tbody">
      <tr *ngFor="let booking of bookings" data-cy="entityTable">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <td>Sillas: {{ booking.chairLocation }}</td>
            <td>ID Funcion: {{ booking.functionFilm?.id }}</td>
            <td>Fecha: {{ booking.functionFilm?.dateFunction }}</td>

            <div class="btn-group">
              <button type="submit" (click)="delete(booking)" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Liberar Asiento</span>
              </button>
              <br />
              <br />
              <button type="submit" (click)="deleteAll(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Cancelar Reserva</span>
              </button>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </div>

  <div *ngIf="bookings && bookings.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
