<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span jhiTranslate="cinemaCidenetApp.booking.home.title">Bookings</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.booking.home.createLabel"> Create a new Booking </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookings?.length === 0">
    <span jhiTranslate="cinemaCidenetApp.booking.home.notFound">No bookings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bookings && bookings.length > 0">
    <tbody class="tbody">
      <tr *ngFor="let function of bookings" data-cy="entityTable">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            [src]="'data:' + function.functionFilmData?.film?.urlImageContentType + ';base64,' + function.functionFilmData?.film?.urlImage"
            style="max-width: 100%; height: 350px; border-radius: 20px"
            alt="film image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ function.functionFilmData?.film?.name }}</h5>
            <div class="card-data">
              <td>Formato: {{ function.functionFilmData?.room?.roomType }}</td>
              <td>Fecha: {{ function.functionFilmData?.dateFunction }}</td>
              <td>Hora: {{ function.functionFilmData?.timeFunction }}</td>
              <td>Referencia de reserva: {{ function.functionFilmData?.id }}</td>
            </div>
            <div class="" *ngFor="let chairs of function.chairList">
              <div class="radio-buttons">
                <label class="custom-radio">
                  <input type="checkbox" (click)="chairSelected(chairs.id)" />
                  {{ chairs?.chairLocation }}
                </label>
              </div>
            </div>
            <div class="btn-group">
              <button type="submit" (click)="delete()" class="btn btn-secondary btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Liberar Asiento</span>
              </button>
              <br />
              <br />
              <button type="submit" (click)="deleteAll(function)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Cancelar Reserva</span>
              </button>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </div>
</div>
