<div>
  <h2 id="page-heading" data-cy="FunctionFilmHeading">
    <span jhiTranslate="cinemaCidenetApp.functionFilm.home.title">Function Films</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.functionFilm.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-function-film"
        [routerLink]="['/function-film/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.functionFilm.home.createLabel"> Create a new Function Film </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="functionFilms?.length === 0">
    <span jhiTranslate="cinemaCidenetApp.functionFilm.home.notFound">No functionFilms found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="functionFilms && functionFilms.length > 0">
    <td class="tbody">
      <tr *ngFor="let functionFilm of functionFilms; trackBy: trackId" data-cy="entityTable">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            [src]="'data:' + functionFilm.film?.urlImageContentType + ';base64,' + functionFilm.film?.urlImage"
            style="max-width: 100%; height: 350px; border-radius: 20px"
            alt="film image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ functionFilm.film?.name }}</h5>
            <h5 class="card-title">Fecha: {{ functionFilm.dateFunction | formatMediumDate }}</h5>
            <td>Hora de la funcion: {{ functionFilm.timeFunction }}</td>
            <td>Sala asignada: {{ functionFilm.room?.roomName }}</td>
            <td>Formato de la sala: {{ functionFilm.room?.roomType }}</td>
            <td>Valor boleta: {{ functionFilm.room?.bookingPrice }} COP</td>
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/function-film', functionFilm.id, 'edit']"
                class="btn btn-secondary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(functionFilm)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </div>
        </div>
      </tr>
    </td>
  </div>

  <div *ngIf="functionFilms && functionFilms.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
