@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #2c275f;
  }

  .dropdown-item.active {
    background-color: #37335f;
  }
  .dropdown-item:hover {
    background-color: #4d4886;
  }

  ul {
    background-color: #2c275f;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
      background-color: #2c275f;
      color: black;
    }
  }

  a.nav-link {
    font-weight: 700;
  }

  .navbar-toggler {
    &:hover {
      color: rgb(146, 146, 146);
    }
  }
}

.navbar-color {
  background-color: #2c275f;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: rgb(146, 146, 146);
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  margin-left: 100px;
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/cinema_cidenet.png') no-repeat center center;
  background-size: contain;
}
