<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="film">
      <h2 data-cy="filmDetailsHeading">
        <span>{{ film.name }}</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="jh-entity-details">
        <div class="img" *ngIf="film.urlImage">
          <img
            [src]="'data:' + film.urlImageContentType + ';base64,' + film.urlImage"
            style="max-width: 100%; height: 460px"
            alt="film image"
          />
        </div>

        <div>
          <div class="detail">
            <span>Genero: </span>
            <span>{{ film.genre }}</span>
            <br />
            <span>Duracion: </span>
            <span>{{ film.duration }} min</span>
            <br />

            <span>Fecha estreno: </span>
            <span>{{ film.date | formatMediumDate }}</span>
            <br />

            <span>Descripcion: </span>
            <span> {{ film.description }} </span>
            <br />
          </div>

          <div class="reserva">
            <h1>FUNCIONES DISPONIBLES</h1>

            <div class="funcion" *ngFor="let function of functionFilms">
              <h4 class="text-reserva">Fecha: {{ function.dateFunction | formatMediumDate }}</h4>
              <h4 class="text-reserva">Formato: {{ function.room?.roomType }}</h4>
              <h4 class="text-reserva">Precio: {{ function.room?.bookingPrice }}</h4>

              <br />

              <button
                type="button"
                (click)="queryChairByFunction(function.id)"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modal-selection"
                data-backdrop="false"
              >
                Reservar Ahora
              </button>

              <br />
              <br />

              <!-- Button trigger modal -->
            </div>
          </div>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Atras</span>
      </button>
      <br />
      <br />

      <div class="alert alert-success" *ngIf="success">
        <strong>Reserva realizada con exito!</strong>
      </div>
    </div>
  </div>

  <!-- Modal seleccion de sillas-->

  <div class="modal fade" tabindex="-1" id="modal-selection">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SELECCION DE SILLAS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="screen"></div>
        <div class="screen-text"><h3>PANTALLA</h3></div>
        <div class="modal-body">
          <div *ngFor="let booking of bookings">
            <div class="radio-buttons" *ngIf="booking.status === 'Reserved'">
              <label class="custom-radio">
                <input type="checkbox" (click)="chairSelected(booking)" disabled />
                <span class="radio-btn reserved"
                  ><img src="https://img.icons8.com/material-rounded/28/000000/camping-chair.png" /> {{ booking.chairLocation }}
                </span>
              </label>
            </div>

            <div class="radio-buttons" *ngIf="booking.status === 'Available'">
              <label class="custom-radio">
                <input type="checkbox" id="selected" (click)="chairSelected(booking)" />
                <span class="radio-btn"
                  ><img src="https://img.icons8.com/material-rounded/28/000000/camping-chair.png" /> {{ booking.chairLocation }}
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <p><strong>Precio total: </strong></p>

          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-backdrop="false">Cerrar</button>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#modal-confirm"
            data-backdrop="false"
            data-dismiss="modal"
            (click)="confirmChairSelected()"
          >
            Confirmar Reserva
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
