.jh-entity-details {
  display: flex;
}

.img {
  width: 600px;
  height: 600px;
  margin-right: 120px;
}

.reserva {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.acordeon input {
  display: none;
}

.acordeon__titulo {
  display: block;
  padding: 15px;
  background-color: #2a2a2a;
  counter-reset: #fff;
  cursor: pointer;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  width: auto;
  height: 62px;
}
.acordeon__titulo:hover {
  background-color: #181818;
}

.acordeon__contenido {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
  background-color: #36316928;
}

.acordeon__data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.acordeon input:checked ~ .acordeon__contenido {
  height: 128px;
  margin: 15px 0;
}

.modal {
  color: black;
  background-color: rgba(0, 0, 0, 0.76);
  overflow: hidden;
}

.btn-primary {
  background-color: #3c3774;
  color: white;
  border-color: white;
  width: auto;
  height: auto;
}

.modal-dialog {
  background-color: #3c3774;
  display: flex;
  justify-content: center;
  background-color: #e5e2ff;
}

.modal-footer {
  padding-bottom: 2rem;
  padding-right: 1rem;
  background-color: #e5e2ff;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom-radio input {
  display: none;
}

.radio-btn {
  margin: 5px;
  width: 48px;
  height: 55px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #3c3774;
  cursor: pointer;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid rgb(0, 255, 98);
  box-shadow: 0 0 20px rgb(0, 255, 98);
}

.reserved {
  border: 3px solid rgb(255, 0, 0);
  box-shadow: 0 0 20px rgb(255, 0, 0);
  background-color: #85858577;
}

.modal-content {
  width: 900px;
  background-color: #e5e2ff;
}

.close {
  margin: 0;
}
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #e5e2ff;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 835px;
  background-color: #e5e2ff;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  margin-top: 7px;
  margin-right: 5px;
}

.screen {
  display: flex;
  align-items: center;
  width: 700px;
  height: 20px;
  border-radius: 30%;
  background: #2a2a2a;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8%;
}

.screen-text {
  display: flex;
  color: #61616160;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.text-reserva {
  font-size: 18px;
}
