<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="film">
      <h2 data-cy="filmDetailsHeading"><span jhiTranslate="cinemaCidenetApp.film.detail.title">Film</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ film.id }}</span>
        </dd>
        <dt><span jhiTranslate="cinemaCidenetApp.film.name">Name</span></dt>
        <dd>
          <span>{{ film.name }}</span>
        </dd>
        <dt><span jhiTranslate="cinemaCidenetApp.film.genre">Genre</span></dt>
        <dd>
          <span>{{ film.genre }}</span>
        </dd>
        <dt><span jhiTranslate="cinemaCidenetApp.film.urlImage">Url Image</span></dt>
        <dd>
          <div *ngIf="film.urlImage">
            <a (click)="openFile(film.urlImage, film.urlImageContentType)">
              <img [src]="'data:' + film.urlImageContentType + ';base64,' + film.urlImage" style="max-width: 100%" alt="film image" />
            </a>
            {{ film.urlImageContentType }}, {{ byteSize(film.urlImage) }}
          </div>
        </dd>
        <dt><span jhiTranslate="cinemaCidenetApp.film.duration">Duration</span></dt>
        <dd>
          <span>{{ film.duration }}</span>
        </dd>
        <dt><span jhiTranslate="cinemaCidenetApp.film.active">Active</span></dt>
        <dd>
          <span>{{ film.active }}</span>
        </dd>
        <dt><span jhiTranslate="cinemaCidenetApp.film.date">Date</span></dt>
        <dd>
          <span>{{ film.date | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/film', film.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
