<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="film">
      <h2 data-cy="filmDetailsHeading">
        <span>{{ film.name }}</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="jh-entity-details">
        <div class="img" *ngIf="film.urlImage">
          <img
            [src]="'data:' + film.urlImageContentType + ';base64,' + film.urlImage"
            style="max-width: 270px; height: 460px"
            alt="film image"
          />
        </div>

        <div class="reserva">
          <div class="box-detail">
            <div class="detail">
              <h3 class="text-detail">Genero:{{ film.genre }}</h3>
              <h3 class="text-detail">Duracion: {{ film.duration }} min</h3>
              <h3 class="text-detail">Fecha estreno: {{ film.date | formatMediumDate }}</h3>
              <h3 class="text-detail">Descripcion: {{ film.description }}</h3>
            </div>

            <div class="box-date">
              <h1>FUNCIONES DISPONIBLES</h1>

              <form name="editForm" role="form" [formGroup]="editForm">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      [minDate]="minDate"
                      [maxDate]="maxDate"
                      id="field_dateFunction"
                      data-cy="dateFunction"
                      type="text"
                      value="minDate"
                      class="form-control"
                      name="dateFunction"
                      ngbDatepicker
                      #dateFunctionDp="ngbDatepicker"
                      formControlName="dateFunction"
                      (ngModelChange)="queryFunctionByFilm()"
                    />
                    <span class="input-group-append">
                      <button type="button" class="btn btn-secondary" (click)="dateFunctionDp.toggle()">
                        <fa-icon icon="calendar-alt"></fa-icon>
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>

            <div class="funcion" *ngFor="let function of functionFilms">
              <div class="acordeon">
                <div class="acordeon__item">
                  <input type="radio" name="acordeon" id="{{ function.id }}" />
                  <label for="{{ function.id }}" class="acordeon__titulo">{{ function.room?.roomName }} ID: {{ function.id }}</label>
                  <div class="acordeon__contenido">
                    <div class="acordeon__data">
                      <h4 class="text-reserva">Fecha: {{ function.dateFunction | formatMediumDate }}</h4>
                      <h4 class="text-reserva">Formato: {{ function.room?.roomType }}</h4>
                    </div>
                    <div class="acordeon__data">
                      <h4 class="text-reserva">Hora: {{ function.timeFunction }}</h4>
                      <h4 class="text-reserva">Precio: {{ function.room?.bookingPrice }} COP</h4>
                    </div>
                    <div class="acordeon__data">
                      <button
                        type="submit"
                        (click)="queryChairByFunction(function.id)"
                        class="btn btn-danger btn-sm"
                        data-cy="entityDeleteButton"
                      >
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline">Reservar Ahora</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Atras</span>
      </button>
      <br />
      <br />

      <div class="alert alert-success" *ngIf="success">
        <strong>Reserva realizada con exito!</strong>
      </div>
    </div>
  </div>
</div>
