html body {
  height: 100%;
}
.modal {
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.342);
}
.row {
  justify-content: center;
}
.screen {
  display: flex;
  align-items: center;
  width: 700px;
  height: 20px;
  border-radius: 30%;
  background: #2a2a2a;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8%;
}

.screen-text {
  display: flex;
  color: #61616160;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.modal-open {
  background-color: #181818;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: #2a2a2a;
  background-color: #e5e2ff;
  padding: 0;
}

.modal-content {
  color: #181818;
  background-color: #e5e2ff;
}

.modal-footer {
  padding-bottom: 2rem;
  padding-right: 1rem;
  background-color: #e5e2ff;
}

.justify-content-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.jh-entity-details {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 130px;
}

.reserva {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reserva h1 {
  font-size: 2.9rem;
}

.acordeon input {
  display: none;
}

.acordeon__titulo {
  display: block;
  padding: 15px;
  background-color: #2a2a2a;
  counter-reset: #fff;
  cursor: pointer;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  width: auto;
  height: 62px;
}
.acordeon__titulo:hover {
  background-color: #181818;
}

.acordeon__contenido {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
  background-color: #36316928;
}

.acordeon__data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.acordeon input:checked ~ .acordeon__contenido {
  height: 128px;
  margin: 15px 0;
}

.btn-primary {
  background-color: #3c3774;
  color: white;
  border-color: white;
  width: auto;
  height: auto;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.custom-radio input {
  display: none;
}

.radio-btn {
  margin: 5px;
  width: 55px;
  height: 55px;
  border: 3px solid transparent;
  display: inline-block;
  position: relative;
  text-align: center;
  border-radius: 30%;
  box-shadow: 0 0 20px #3c3774;
  cursor: pointer;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid rgb(0, 255, 98);
  box-shadow: 0 0 20px rgb(0, 255, 98);
}

.reserved {
  border: 3px solid rgb(255, 0, 0);
  box-shadow: 0 0 20px rgb(255, 0, 0);
  background-color: #85858577;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  margin-top: 7px;
  margin-right: 5px;
}

.text-reserva {
  font-size: 18px;
}

.film {
  display: flex;
  flex-wrap: wrap;
}

.box-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 25px;
}

.detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding-left: 25px;
  margin-top: 25px;
}
.text-detail {
  font-size: 18px;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
}

@media screen and (max-width: 1370px) {
  .jh-entity-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
  }
  .screen {
    width: 500px;
  }
  .vertical-alignment-helper {
    height: 20%;
  }
}

@media screen and (max-width: 1366px) {
  .reserva {
    width: 500px;
  }
}

@media screen and (max-width: 1234px) {
  .reserva {
    width: 400px;
  }
}

@media screen and (max-width: 1088px) {
  .reserva {
    width: 300px;
  }
}

@media screen and (max-width: 942px) {
  .reserva {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .chair {
    height: 20px;
    width: 20px;
  }
  .modal-content {
    width: 80%;
    height: 80%;
    font-size: 15px;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  .radio-btn {
    width: 30px;
    height: 40px;
  }
  .screen {
    width: 220px;
  }
  .screen-text {
    display: none;
  }
  .chairLocation {
    font-size: 10px;
  }
  .modal-body {
    padding: 0.5rem;
  }
}
