/* ==========================================================================
Main page styles
========================================================================== */

.carousel {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 600px;
}

.box {
  border: 1px solid #333;
  width: 322px;
  height: 420px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.actionImg4 {
  overflow: hidden;
  position: relative;
}
.actionImg4 img {
  display: block;
  width: 100%;
  height: 100%;
}
.actionImg4 .hover {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #080505b5;
  width: 100%;
  padding: 15px 0 15px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: padding-bottom 0.35s;
  -webkit-transition: padding-bottom 0.35s;
  -moz-transition: padding-bottom 0.35s;
}
.actionImg4 .hover .sub_tit {
  font-size: 16px;
  color: #ffffff;
}
.actionImg4 .hover .desc {
  position: absolute;
  width: 100%;
  color: #a3a3a3;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
  opacity: 0;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  transition: all 0.5s 0.3s;
  -webkit-transition: all 0.5s 0.3s;
  -moz-transition: all 0.5s 0.3s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.actionImg4:hover .hover {
  padding-bottom: 50px;
}
.actionImg4:hover .hover .desc {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
}

.films {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 70px;
}

.carousel-inner {
  display: flex;
  align-items: center;
  height: 550px;
}

.jhi-home {
  display: flex;
  justify-content: center;
}

.carousel-control-prev {
  height: 92%;
}

.carousel-control-next {
  height: 92%;
}

.title {
  margin-left: 58px;
  margin-bottom: 45px;
}
