/* ==========================================================================
Main page styles
========================================================================== */

.carousel {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 600px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #333;
  justify-content: center;
  width: 322px;
  height: 460px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 20px;
}
.actionImg4 {
  overflow: hidden;
  position: relative;
}
.actionImg4 img {
  display: block;
  width: 100%;
  height: 100%;
}
.actionImg4 .hover {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #080505b5;
  width: 100%;
  padding: 15px 0 15px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: padding-bottom 0.35s;
  -webkit-transition: padding-bottom 0.35s;
  -moz-transition: padding-bottom 0.35s;
}
.actionImg4 .hover .sub_tit {
  font-size: 16px;
  color: #ffffff;
}
.actionImg4 .hover .desc {
  position: absolute;
  width: 100%;
  color: #ffffff;
  margin-top: 6px;
  font-size: 11px;
  line-height: 13px;
  opacity: 0;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  transition: all 0.5s 0.3s;
  -webkit-transition: all 0.5s 0.3s;
  -moz-transition: all 0.5s 0.3s;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.actionImg4:hover .hover {
  padding-bottom: 35%;
}
.actionImg4:hover .hover .desc {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
}

.films {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.carousel-inner {
  display: flex;
  align-items: center;
  height: 550px;
}

.jhi-home {
  display: flex;
  justify-content: center;
}

.carousel-control-prev {
  height: 92%;
}

.carousel-control-next {
  height: 91%;
}

.title {
  margin-left: 58px;
  margin-bottom: 45px;
}

button {
  padding: 0.9em 2em;
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: #ddd;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #ffffff;
}

button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #3c3774;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: rgb(255, 255, 255);
}

.text-card {
  font-size: 14px;
}
