<div>
  <h2 id="page-heading" data-cy="FilmHeading">
    <span jhiTranslate="cinemaCidenetApp.film.home.title">Films</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.film.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-film"
        [routerLink]="['/film/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cinemaCidenetApp.film.home.createLabel"> Create a new Film </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="films?.length === 0">
    <span jhiTranslate="cinemaCidenetApp.film.home.notFound">No films found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="films && films.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="cinemaCidenetApp.film.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="genre">
            <span jhiTranslate="cinemaCidenetApp.film.genre">Genre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="urlImage">
            <span jhiTranslate="cinemaCidenetApp.film.urlImage">Url Image</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="duration">
            <span jhiTranslate="cinemaCidenetApp.film.duration">Duration</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="cinemaCidenetApp.film.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="cinemaCidenetApp.film.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/film', film.id, 'view']">{{ film.id }}</a>
          </td>
          <td>{{ film.name }}</td>
          <td>{{ film.genre }}</td>
          <td>
            <a *ngIf="film.urlImage" (click)="openFile(film.urlImage, film.urlImageContentType)">
              <img [src]="'data:' + film.urlImageContentType + ';base64,' + film.urlImage" style="max-height: 30px" alt="film image" />
            </a>
            <span *ngIf="film.urlImage">{{ film.urlImageContentType }}, {{ byteSize(film.urlImage) }}</span>
          </td>
          <td>{{ film.duration }}</td>
          <td>{{ film.active }}</td>
          <td>{{ film.date | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/film', film.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/film', film.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(film)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="films && films.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
